*{
  font-family: 'Nunito', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ChoreList */

.table{
  margin-top: 10px;
}
.dashTitle{
  color: hsl(9, 100%, 64%)
}
th{
  font-size: 1.1em;
}
.responsibility{
  text-transform: capitalize;
}

/* AddChoreForm */

.formBox{
  border: 1px solid goldenrod;
  width: 700px;
  padding: 50px;
}

.title{
  color: tomato
}

/* Main */

.footerCredit{
  margin-top: 40px;
}

/* ViewChore */

.viewLabel{
  display: flex;
  justify-content:space-between;
  text-transform: capitalize;
}
.choreInfo{
  /* border: 1px solid teal; */
  margin-left: 20px;
  /* padding:10px; */
  font-style: italic;
  font-size: 1.3em;
  text-align: right;
}
.viewTitle{
  font-size: 1.5em;
  font-weight:bold;
  color: tomato;
  text-align: left;
}
.choreTitle{
  color: teal;
}

/* FindChores */

.searchbox{
  margin-top: 10px;
}
.searches{
  display: flex;
  gap: 80px
}
